body {
    background-color: #888888;
}

.jumbofmt {
    background-color: #e6ccb3;
    font-family: 'Baloo', cursive;
}

.custombtn {
    background-color: #000066;
    /* Dark Blue */
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}

.title {
    font-size: 40px;
}